* {
    box-sizing: border-box;
}

body {
    background-color: #e6e8e5;
    width: 1200px;
    max-width: 100%;
    font-family: 'Mada';
    overflow: hidden;
}

.coming {
    position: absolute;
    width: 100%;
    top: 20%;
    padding: 50px 30px;
    background-color: #e6e8e5;
    border-radius: 15px;
    display: none;
    transition: all 10s;
}

#coming:after {
    display: block;
    content: "";
    clear: both;
}

.comingView {
    display: block;
}

.clearComing {
    position: relative;
    opacity: 0.7;
    top: -20px;
    left: -650px;
    font-size: 32px;
    text-align: center;
    font-weight: light;
    cursor: pointer;
}

#wrapper {
    max-width: 960px;
    width: 100%;
    /* background-color: red; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, minmax(0, auto));
    grid-gap: 1px;
}

.open {
    height: auto;
}

#wrapper main {
    grid-row: 1/3;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, minmax(0, auto));
    background-color: #fbfbfb;
    padding: 10px;
}

main nav {
    grid-row: 1/2;
    grid-column: 1/13;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
}

nav h1 {
    grid-column: 1/2;
    margin: 0 auto;
}

nav #toggler {
    grid-column: 6/9;
    grid-row: 1/2;
    display: none;
}

nav span {
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 5px;
}

nav ul {
    grid-column: 9/13;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    margin-top: 5px;
}

nav a {
    text-decoration: none;
    color: black;
}

#banner {
    grid-row: 2/3;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(0, auto));

}

#banner ul#bannerLeft {
    grid-column: 1/6;
    background-color: #f7f7f7;
    padding: 30px;
    margin: 0;
    margin-left: 30px;
}


#banner ul#bannerLeft h1 {
    font-size: 4em;
    font-weight: normal;
    margin: 15px auto;
}

#banner ul#bannerRight {
    grid-column: 6/13;
    background-color: #eee;
    margin: 0;
    padding: 20px;
    text-align: right;
}

#banner ul#bannerRight a {
    text-decoration: none;
    color: black;
}

#banner ul li {
    list-style-type: none;
    /* border-bottom: 1px solid rgb(68, 65, 65); */
}

#banner li span {
    width: 15px;
    background-color: black;
    height: 3px;
    display: block;
    margin: 5px 0;
}

section {
    grid-row: 3/4;
    grid-column: 1/13;
    background-color: hsl(150, 14%, 86%);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
    margin: 0;
}

section #secLeft {
    grid-column: 1/6;
    padding: 30px;
    margin: 0;
    margin-left: 30px;
}

section #secLeft p {
    line-height: 2em;
}

section #secLeft h3 {
    letter-spacing: 0.5em;
    font-weight: normal;
}

section #secLeft span {
    width: 25px;
    background-color: black;
    height: 3px;
    display: block;
    margin: 5px 0;
}

.btn {
    background-color: transparent;
    border: none;
    padding: 5px 20px;
    display: block;
    border-bottom: 1px solid black;
    /* box-shadow: 1px 2px 10px 3px rgba(128, 128, 128, 0.3); */
    cursor: pointer;
    margin: 15px auto;
}

section #secRight {
    grid-column: 7/13;
    padding: 30px;
    margin: 0;
    margin-left: 30px;
}

section #secRight img {
    width: 300px;
    height: 300px;
}

section #secRight ul {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: -150px;
}

section #secRight li {
    list-style-type: none;
    text-align: right;
}


article#first {
    grid-row: 4/5;
    grid-column: 1/13;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 5px;
    overflow: hidden;
}

article#first #philAside {
    grid-column: 1/6;
    text-align: center;
    word-spacing: 1.5em;
    line-height: 2em;
    padding: 20px;
    margin-top: 55px;
}

article#first #philImage {
    background-color: #eee;
    grid-column: 7/13;
}

article#first #philImage img {
    height: 400px;
    width: 400px;
}


article#second {
    grid-row: 5/6;
    grid-column: 1/13;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 5px;
    overflow: hidden;
}

article#second #olivImage {
    background-color: #eee;
    grid-column: 1/7;
}

article#second #olivAside {
    grid-column: 7/13;
    text-align: center;
    word-spacing: 1.5em;
    line-height: 2em;
    padding: 20px;
    margin-top: 55px;
}

article#second #olivImage img {
    height: 400px;
    width: 400px;
}


article#third {
    grid-row: 6/7;
    grid-column: 1/13;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 5px;
    overflow: hidden;
}

article#third #graceAside {
    grid-column: 1/7;
    text-align: center;
    word-spacing: 1.5em;
    line-height: 2em;
    padding: 20px;
    margin-top: 55px;
}

article#third aside#graceImage {
    background-color: #eee;
    grid-column: 7/13;
}

article#third #graceImage img {
    height: 400px;
    width: 400px;
}

footer {
    grid-row: 7/8;
    grid-column: 1/13;
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 50px;
}

footer ul#links {
    padding: 0;
    margin: 0;
    grid-column: 1/6;
}

footer ul#links li {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

footer ul#links li a {
    color: black;
    text-decoration: none;

}


footer ul#footerNav {
    padding: 0;
    margin: 0;
    grid-column: 8/12;
}

footer ul#footerNav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

footer ul#footerNav ul {
    color: black;
    text-decoration: none;

}

#attribution {
    grid-column: 6/10;
    padding: 5px;
}

#attribution i {
    color: rgb(168, 5, 5);
}

@media screen and (max-width:840px) {
    footer ul#footerNav {
        grid-column: 7/12;
    }

    footer ul#footerNav li {
        margin-left: 10px;
    }

}

@media screen and (max-width:800px) {
    nav ul {
        grid-column: 8/13;
        padding: 0;
        margin: 0;
    }

    article#second #olivImage {
        grid-column: 1/6;
    }

    article#second #olivAside {
        grid-column: 6/12;
        padding: 10px;
        margin-top: 30px;
    }

    article#second #olivImage img {
        height: 300px;
        width: 300px;
    }

    article#first {
        grid-column: 1/13;
        padding: 5px;
        overflow: hidden;
    }

    article#first #philAside {
        grid-column: 1/6;
        padding: 10px;
        margin-top: 30px;
    }

    article#first #philImage {
        background-color: #eee;
        grid-column: 7/13;
    }

    article#first #philImage img {
        height: 300px;
        width: 300px;
    }

    article#third #graceAside {
        grid-column: 1/6;
        padding: 10px;
        margin-top: 30px;
    }

    article#third aside#graceImage {
        grid-column: 7/13;
    }

    article#third #graceImage img {
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width:720px) {

    article#second #olivImage {
        grid-column: 1/6;
    }

    article#second #olivAside {
        grid-column: 7/12;
        padding: 10px;
        margin-top: 30px;
    }

    footer ul#footerNav {
        grid-column: 6/12;
    }

    footer ul#footerNav li {
        margin-left: 5px;
    }

    section #secRight {
        grid-column: 5/13;
        padding: 15px;
    }

    section #secLeft {
        grid-column: 1/5;
        padding: 30px;
        margin: 0;
        margin-left: 15px;
    }

    #attribution {
        grid-column: 4/10;
        padding: 5px;
    }
}

@media screen and (max-width:600px) {
    body {
        padding: 0;
        margin: 0;
    }

    nav ul {
        grid-column: 8/13;
        padding: 0;
        margin: 0;
    }

    article#second #olivImage {
        grid-column: 1/6;
    }

    article#second #olivAside {
        grid-column: 6/12;
        padding: 10px;
        margin-top: 15px;
    }

    article#second #olivImage img {
        height: 200px;
        width: 200px;
    }

    article#first #philAside {
        margin-top: 15px;
    }

    article#first #philImage {
        grid-column: 6/13;
    }

    article#first #philImage img {
        height: 200px;
        width: 200px;
    }

    article#third #graceAside {
        grid-column: 1/6;
        padding: 10px;
        margin-top: 15px;
    }

    article#third aside#graceImage {
        grid-column: 6/13;
        background-image: url(pictures/graceRes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    article#third #graceImage img {
        height: 200px;
        width: 200px;
        display: none;
    }

    #banner ul#bannerLeft {
        grid-column: 1/7;
    }

    #banner ul#bannerRight {
        grid-column: 7/13;
    }
}

@media screen and (max-width:575px) {

    body {
        padding: 0;
        margin: 0;
    }

    #wrapper {
        grid-template-rows: repeat(10, minmax(0, auto));
    }

    #wrapper main {
        padding: 5px;
    }

    main nav {
        padding: 5px;
        display: grid;
    }

    nav h1 {
        grid-column: 1/2;
        display: block;
        grid-row: 1/2;
        margin: 0 auto;
    }

    nav span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: black;
        margin-top: 5px;
    }

    nav #toggler {
        grid-column: 12/13;
        grid-row: 1/2;
        display: block;
        cursor: pointer;
    }

    .open {
        height: auto;
    }

    nav ul {
        grid-column: 1/13;
        grid-row: 2/3;
        padding: 0;
        margin: 0;
        display: block;
        transition: 10s linear;
        height: 0;

    }

    nav li {
        display: block;
        margin: 15px;
        border-bottom: 1px solid black;
        padding: 0;
        margin-left: 0;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    #banner {
        grid-row: 2/3;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, minmax(0, auto));

    }

    #banner ul#bannerLeft {
        grid-column: 1/13;
        grid-row: 1/2;
        background-color: #f7f7f7;
        padding: 30px;
        margin: 0;
    }


    #banner ul#bannerLeft h1 {
        font-size: 4em;
        font-weight: normal;
        margin: 15px auto;
    }

    #banner ul#bannerRight {
        grid-row: 2/3;
        grid-column: 1/13;
        background-color: #eee;
        margin: 0;
        padding: 20px;
        text-align: left;
    }

    #banner ul#bannerRight li {
        display: inline-block;
        margin-left: 15px;
    }

    #banner li span {
        width: 30px;
    }

    section {
        grid-row: 3/4;
        grid-column: 1/13;
        background-color: hsl(150, 14%, 86%);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 5px;
        margin: 0;
    }

    section #secLeft {
        grid-column: 1/6;
        grid-row: 1/2;
        padding: 15px;
        margin: 0;
        /* margin-left: 30px; */
    }

    section #secLeft p {
        line-height: 1em;
        display: none;
    }

    section #secLeft h3 {
        letter-spacing: 0.5em;
        font-weight: normal;
    }

    section #secLeft span {
        width: 30px;
        background-color: black;
        height: 3px;
        display: block;
        margin: 5px 0;
    }

    .btn {
        background-color: transparent;
        border: none;
        padding: 5px 20px;
        display: block;
        border-bottom: 1px solid black;
        cursor: pointer;
        margin: 15px auto;
    }

    section #secRight {
        grid-column: 7/13;
        grid-row: 1/2;
        padding: 5px;
        margin: 0;
    }

    section #secRight img {
        width: 200px;
        height: 200px;
    }

    section #secRight ul {
        padding: 0;
        margin: 0;
    }

    section #secRight li {
        list-style-type: none;
        text-align: left;
    }


    article#first {
        grid-row: 4/5;
        grid-column: 1/13;
        background-color: #fbfbfb;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 5px;
        overflow: hidden;
    }

    article#first #philAside {
        grid-column: 6/13;
        grid-row: 1/2;
        padding: 5px;
        margin-top: 30px;
    }

    article#first #philAside small {
        display: none;
    }

    article#first #philImage {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    article#first #philImage img {
        height: 200px;
        width: 200px;
    }

    article#second #olivImage {
        background-color: transparent;
        grid-column: 7/13;
    }

    article#second #olivAside {
        grid-column: 1/7;
        grid-row: 1/2;
        padding: 5px;
        margin-top: 30px;
    }

    article#second #olivAside p {
        display: none;
    }

    article#second #olivImage img {
        height: 200px;
        width: 200px;
    }


    article#third {
        grid-row: 6/7;
        grid-column: 1/13;
        background-color: #fbfbfb;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 5px;
        overflow: hidden;
    }

    article#third #graceAside {
        grid-column: 7/13;
        grid-row: 1/2;
        padding: 5px;
        margin-top: 30px;
    }

    article#third #graceAside p {
        display: none;
    }


    article#third aside#graceImage {
        grid-column: 1/7;
        grid-row: 1/2;
        background-image: none;
        background-color: transparent;
    }

    article#third #graceImage img {
        display: block;
        height: 200px;
        width: 200px;
    }

    footer {
        grid-row: 7/8;
        grid-column: 1/13;
        background-color: #fbfbfb;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 30px 0;

    }

    footer ul#links {
        padding: 0;
        margin: 15px 0;
        grid-column: 5/13;
        grid-row: 2/3;
    }

    footer ul#links li {
        list-style-type: none;
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
    }

    footer ul#links li a {
        color: black;
        text-decoration: none;

    }


    footer ul#footerNav {
        padding: 0;
        margin: 0;
        grid-row: 1/2;
        grid-column: 1/13;
    }

    footer ul#footerNav li {
        list-style-type: none;
        display: block;
        margin: 10px 0;
        padding: 0;
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    .clearComing {
        position: relative;
        display: block;
        opacity: 0.7;
        top: -20px;
        left: -200px;
    }

    footer ul#footerNav ul {
        color: black;
        text-decoration: none;
    }

    #attribution {
        grid-column: 4/13;
        padding: 5px;
    }

}